@import '../../assets/variables.less';

.brand {
    font-size: 2.5em;
}

nav {
    width: @page-width;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    align-self: flex-end;
    padding: .5em 0;
}

ul > li {
    display: inline-block;
    padding: 0 .75em;
}

li>a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    color: @color-accent;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
    transition: .1s ease-in-out all;
    &:hover {
        color: lighten(@color-accent, 8);
        border-bottom: .15em solid @color-accent;
        margin-bottom: -.15em;
    }
}
