@import 'assets/variables.less';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: @color-base;
}

.content-area {
    display: grid;
    grid-template-areas: "nav" "page";
    grid-template-rows: 90px auto;
    grid-template-columns: auto;
    grid-row-gap: 2em;
    width: 100%;
    height: 100%;
}

.navigation {
    grid-area: nav;
    width: 100%;
    height: 90px;
    background-color: @color-primary;
    color: @color-primary-tint;
}

.page {
    grid-area: page;
    width: 920px;
    height: auto;
    margin: 0 auto;
}